body {
  background-image: url("https://i.pinimg.com/originals/a4/54/ea/a454ea6e97ba21c19b2a5b596c9a2659.jpg");
  background-size: cover;
}

.login {
  margin-top: 100px;
  color: rgb(0, 0, 0);
}
.login .card {
  background: rgba(3, 129, 187, 0.979);
}

.login label {
  font-size: 16px;
  color: #ccc;
}

.login input {
  font-size: 22px !important;
  color: #fff;
}

.login button:hover {
  padding: 0px 40px;
}

#toast-container {
  min-width: 10%;
  top: 5em;
  right: 50%;
  transform: translateX(50%) translateY(50%);
}
